wp-content/plugins/.DS_Store
wp-content/themes/etceteratest/.DS_Store
wp-content/themes/etceteratest/node_modules/
wp-content/themes/.DS_Store
wp-content/themes/understrap/.DS_Store
wp-content/themes/understrap/woocommerce/.DS_Store